<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
  </head>
  <body>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <nav class="navbar navbar-default" role="navigation">
          <a class="navbar-brand" href="http://localhost:9292/">SinWiki</a>
        </nav>
        <%=yield%>
      </div>
      <div class="col-md-1"></div>
    </div>
  </body>
</html>
